*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    list-style: none;
    scroll-behavior: smooth;

}

:root{
    --bg-color:#ffffff;
    --text-color:#000;
    --second-color:;
    --main-color:#4070F4;
    --big-font:5rem;
    --h2-font:3rem;
    --p-font:1.1rem;
    --footer-font:2rem;
    
}

body{
    background: var( --bg-color);
    color: var(--text-color);
}

header{
position: fixed;
width: 100%;
height: 80px;
top: 0;
right: 0;
z-index: 1000;
display: flex;
align-items: center;
justify-content: space-between;
background: transparent;
padding: 30px 18%;
transition: .3s;
}

.logo img{
    max-width: 100%;
    width: 130px;
    height:80px;
}

.navlist{
display: flex;
}

.navlist li{
    position: relative;
}

.navlist a{
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 500;
    padding: 10px 27px;
    
    text-decoration: none;
}

.navlist a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    bottom: -3px;
    left: 0;
    transition: ease .40s;
}

.navlist a:hover::after{
    width: 100%;
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.CV-btn{
    display: inline-block;
    padding: 9px 30px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: var(--p-font);
    font-weight: 500;
    transition: ease .50s;
    text-decoration: none;
}

.CV-btn:hover {
    transform: scale(1.1);
    background: var(--main-color);
    border: 2px solid var(--main-color);
    color: var(--bg-color);
}

section{
    padding: 180px 18%;
    

}
.home{
    min-height: 80vh;
    height: 100%;
    width: 100%;
    background: url(resource/bg-img.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4rem;
}

.home-img{
    align-items: center;
    text-align: center;
    
}

.home-text h1{
    margin: 10px 0px 25px;
    font-size: var(--big-font);
    line-height: 1;
    font-weight: 500;

}

.home-text h5{
    margin-bottom: 23px;
    font-size: 19px;
    font-weight: 500;
}

.home-text h3{
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}

.home-text p{
    font-size: var(--p-font);
    color: #000080;
    line-height: 28px;
    margin-bottom: 20px;
}

.social a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgb(213, 99, 54);
    font-size: 17px;
    color: var(--bg-color);
    margin-right: 22px;
    margin-bottom: 30px;
    text-decoration: none;
    
}

.social{
    
    text-align: center;
}

.social a:hover{
    transform: scale(1.1);
    background: var(--main-color);
     transition: .5s;
}

.home-img img{
    max-width: 100%;
    width: 400px;
    height: auto;
    /* //border: 3px solid red; */
    border-radius: 0% 0% 40%;
    border-bottom: 10px solid #000080;
    /* padding:0 20px 20px 0;
    background:linear-gradient(blue 0 0) 100% 100% / 55% 100% no-repeat; */
}

.parent-about{
    margin-top: 100px;
}

.about-title h1{
    font-size: var(--h2-font);
    text-align: center;
    font-weight: 500;
    color: var(--main-color);
}

.about-title hr{
  width: 15%;
  text-align: center;
  margin: auto;
  border: 2px solid var(--main-color);
  margin-bottom: 15px;
}

.about-section{
    text-align: center;
    padding-top: 20px;
    width: 70%;
    margin: auto;
    border-radius: 35px;
    margin-bottom: 50px;
}


.about-text p{
    font-size: var(--p-font);
    color: var(--text-color);
    text-align: center;
    padding: 20px 70px 20px;
}

.technologies{
    width: 70%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    row-gap: 20px;
}

.tech-header h1{
    width: 70%;
    margin: auto;
    margin-top: 100px;
    font-size: var(--h2-font);
    text-align: center;
    padding-top: 20px;
    font-weight: 500;
    color: var(--main-color);
}
.tech-header hr{
    width: 18%;
    text-align: center;
    margin: auto;
    border: 2px solid var(--main-color);
    margin-bottom: 25px;
}
.tech-logo img{
    width: 7rem;
    height: 7rem;
}
.tech-logo p{
    font-size: var(--p-font);
    color: var(--text-color);
}

.projects{
    width: 70%;
    margin: auto;
    margin-top: 120px;
}
.project{
    margin-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
}
.title{
    text-align: center;
    font-size: var(--h2-font);
    color: var(--main-color);
    font-weight: 500;
}
.projects hr{
    width: 18%;
    text-align: center;
    margin: auto;
    border: 2px solid var(--main-color);
    margin-bottom: 35px;
}

.project img{
width: 100%;
border-radius: 15px 15px 0px 0px;
}

.pro-details{
    padding-left: 50px;
    padding-right: 50px;
}

.pro-details h1{
    font-size: var(--h2-font);
    color: var(--main-color);
    margin-bottom: 25px;
    font-weight: 500;
}

.pro-details p{
    font-size: var(--p-font);
    color: var(--text-color);
}

.pro-details p:nth-child(2){
   margin-bottom: 20px;
}
.pro-details p:nth-child(3){
    margin-bottom: 20px;

 }

 .code-links{
    padding-left: 50px;
    display: flex;
    margin-top: 15px;
 }
 .code-links a{
    border: 1px solid var(--main-color);
    padding: 5px 15px 5px;
    border-radius:5px;
    margin-bottom:20px;
    transition: ease .50s;
    
 }

 .code-links a:hover{
    transform: scale(1.1);
    background: var(--main-color);
    border: 2px solid var(--main-color);
    
 }
 .code-links  a:hover{
    color: var(--bg-color);
 }

 .code-links a{
    text-decoration: none;
 }

 #demo{
    margin-right: 25px;
 }

 header.sticky{
    background: var(--bg-color);
    padding: 13px 18%;
    box-shadow: 0px 0px 10px rgb(0, 0, 0/10%);
 }

 .footer{
    margin-top: 100px;
    background-color: #EEF2F0;
 }

 .footer h1{
    font-size: var(--h2-font);
    color: var(--main-color);
    font-weight: 500;
    text-align: center;
    padding-top: 40px;
 }
 .footer hr{
    width: 15rem;
    margin: auto;
    border: 2px solid var(--main-color);
    margin-bottom: 20px;
 }
 .links div{
    width: 50rem;
    margin: auto;
    margin-bottom: 20px;
 }
.links div a{
    font-size: var(--footer-font);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: ease .5s;
    color: var(--text-color);
}

.links div a:hover{
    transform: scale(1.1);
    color: var(--main-color);
}
.links{
    padding-bottom: 40px;
}

.links div a i{
    margin-right: 20px;
}

#start-card{
    width: 70%; 
    margin: auto;
    margin-top: 20px;
    border-radius: 15px; 
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
}

.calendar{
    margin-top: 120px;
}

.stats {
    /* border: 1px solid yellow; */
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
  }

  .stats img {
    margin-bottom: 20px;
  }

/* #stat-overflow{
    height: 25rem; 
    overflow: hidden;
} */

/* #start-card-div{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100.0000%;
    padding-bottom: 0; 
    box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); 
    margin-bottom: 0.9em; 
    overflow: hidden;
    border-radius: 8px; 
    will-change: transform;
} */

#soft_skills {
    /* margin-top: 100px; */
    /* border: 1px solid red; */
    /* padding-top: 100px; */
    height: auto;
    margin-top: 150px;
    /* display: flex; */
  }

  #soft_skills hr{
    width: 8rem; 
    margin: auto;
    border: 2px solid var(--main-color);
    margin-bottom: 20px;
  }

  #soft_div {

    /* border: 1px solid gold; */
    display: flex;
    /* grid-template-columns: repeat(4, 100px); */
    gap: 50px;
    width: 60%;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  
  .tech-card {
    height: 140px;
    width: 140px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  
  .tech-card-name {
    color: black;
    font-weight: 600;
    font-size: 17px;
  }
  
  .tech-card-logo {
    height: 100px;
    width: 100px;
    background-color: white;
    /* border: 1px solid black; */
    padding: 10px;
  }
  
  .tech-card-logo>img {
    width: 100%;
  }
  
  .tech-card {
    /* display: inline-block; */
    /* vertical-align: middle; */
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  
  .tech-card:hover,
  .tech-card:focus,
  .tech-card:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }



 @media (max-width: 1425px){
    header {
        padding: 16px 3%;
        transition: .3s;
    }

    header.sticky{
        transition: .3s;
        padding: 10px 3%;
     }

     section{
        padding: 70px 3%;
        transition: .3s;
    }

    :root{
        --big-font:4rem;
        --h2-font:2.3rem;
        --p-font:1rem;
        transition: .3s;
    }

    .about-section{
        width: 80%;
        transition: .3s;
    }

    .technologies{
        width: 80%;
        transition: .3s;
    }

    .projects{
        width: 80%;
        transition: .3s;
    }

    #start-card{
        width: 80%; 
        margin: auto;
        transition: .3s;
    }
 }

 @media screen and (max-width: 1250px) {

    .stats>div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
 }


 @media (max-width: 970px){
    #menu-icon{
        display: block;
    }
    .home{
        min-height: 60vh;
    }
    .navlist{
        position: absolute;
        top: -600px;
        left: 0;
        right: 0;
        flex-direction: column;
        background: var(--main-color);
        text-align: right;
        transition: all .40s;
    }
    .navlist a{
        display: block;
        padding: 1.2rem;
        margin: 1.5rem;
        border-right: 2px solid var(--bg-color);
        color: var(--bg-color);
    }
    .navlist a:hover{
        background: var(--bg-color);
        color: var(--main-color);
    }
    .navlist a:after{
        display: none;
    }
    .navlist.active{
        top: 100%;
    }
    .about-section{
        width: 90%;
        transition: .3s;
    }

    .technologies{
        width: 90%;
        transition: .3s;
    }

    .projects{
        width: 90%;
        transition: .3s;
    }

    #start-card{
        width: 90%; 
        margin: auto;
        transition: .3s;
    }
    #stat-overflow{
        height: 18rem; 
        overflow: hidden;
        transition: .3s
    }
    .links div{
        width: 30rem;
        margin: auto;
        margin-bottom: 20px;
     }

 }


 @media (max-width: 800px){
    .home{
        grid-template-columns:1fr;
        min-height: 130vh;
        grid-gap: 1rem;
    }
    .home-text{
        padding-top: 55px;
        text-align: center;
        transition: .30s;
    }
    .home-img img{
        width: 440px;
        height: auto;
    }
    :root{
        --big-font:3.4rem;
        --h2-font:2rem;
        --footer-font:1.5rem;
         transition: .3s;
    }
   
    #stat-overflow{
        height: 15rem; 
        overflow: hidden;
        transition: .3s
    }
    
 }

 @media (max-width: 550px){
    .home-img img{
        width: 340px;
        height: auto;
    }
    .about-section{
        width: 95%;
        transition: .3s;
    }

    .technologies{
        width: 95%;
        transition: .3s;
        grid-template-columns: repeat(2,1fr);
    }

    .projects{
        width: 95%;
        transition: .3s;
    }

    #start-card{
        width: 90%; 
        margin: auto;
        transition: .3s;
    }
    #stat-overflow{
        height: 10rem; 
        overflow: hidden;
        transition: .3s
    }
    .about-title hr{
        width: 10rem;
    }
    .about-text p{
        text-align: center;
        padding: 15px 50px 15px;
    }
    .tech-header hr{
        width: 12rem;
    }
    .projects hr{
        width: 8rem;
    }
    .links div{
        width: fit-content;
        margin: auto;
        margin-bottom: 20px;
     }
     :root{
        --footer-font:1.3rem;
     }
     .footer hr{
        width: 11rem;
     }

     .stats img{
        width: 80%;
        margin: auto;
      }

     /* .CV-btn{
        display: inline-block;
        padding: 5px 15px;
        background: transparent;
        border: 2px solid var(--main-color);
        border-radius: 30px;
        color: var(--text-color);
        letter-spacing: 1px;
        font-size: var(--p-font);
        font-weight: 300;
        transition: ease .50s;
        text-decoration: none;
    } */
 }
